<!DOCTYPE html>
<html ng-app="board">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  </head>
  <body style="margin:50px">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <section ng-controller="ListController as listCtrl">
	    <ul class="nav nav-pills">
	    	<li ng-class="{ active:listCtrl.isSelected(1) }">
	    		<a href ng-click="listCtrl.selectList(1)">Proposed</a>
	    	</li>
	    	<li ng-class="{ active:listCtrl.isSelected(2) }">
	    		<a href ng-click="listCtrl.selectList(2)">Needs Discussion</a>
	    	</li>
	    	<li ng-class="{ active:listCtrl.isSelected(3) }">
	    		<a href ng-click="listCtrl.selectList(3)">Ready to Be Worked</a>
	    	</li>
	    	<li ng-class="{ active:listCtrl.isSelected(4) }">
	    		<a href ng-click="listCtrl.selectList(4)">In Progress</a>
	    	</li>
	    	<li ng-class="{ active:listCtrl.isSelected(5) }">
	    		<a href ng-click="listCtrl.selectList(5)">Done</a>
	    	</li>
	    </ul>
	    <h1>Tasks</h1>
    <div class="list" name="proposed" ng-show="listCtrl.isSelected(1)">
	    <ul class="list-group" ng-controller="BoardController as boardCtrl">
	    	<li class="list-group-item" ng-repeat="card in boardCtrl.cards | orderBy:'order'" ng-show="card.status=='Proposed'">
		    	<h3>{{card.title}}</h3>
		    	<p>
		    		<strong>Accountable:</strong> {{card.accountable}}
		    	</p>
		    	<p>
		    		<strong>Responsible:</strong>
			    	<ul> 
			    		<li class="list-group-item" ng-repeat="responsibleIndividual in card.responsible">{{responsibleIndividual}}</li>
			    	</ul>
			    </p>
			    <p>
			    	<strong>Consulted:</strong>
			    	<ul>
			    		<li class="list-group-item" ng-repeat="consultedIndividual in card.consulted">{{consultedIndividual}}</li>
			    	</ul>
			    </p>
			    <p>
			    	<strong>Informed:</strong> 
			    	<ul>
			    		<li class="list-group-item" ng-repeat="informedIndividual in card.informed">{{informedIndividual}}</li>
			    	</ul>
		    	</p>
		    	<p ng-show="card.dueDateUTC">
		    		<strong>Due Date:</strong> {{card.dueDateUTC | date:"MM/dd/yyyy 'at' h:mma"}}
		    	</p>
		    	<p>
		    		<strong>Status:</strong> {{card.status}}
		    	</p>
		    	<p>
		    		<strong>Updated:</strong> By <em>{{card.updatedBy}}</em> on <em>{{card.updatedOnUTC | date:"MM/dd/yyyy 'at' h:mma"}}</em>
		    	</p>
		    	<p ng-show="card.budgetUSD">
		    		<strong>Budget:</strong> {{card.budgetUSD | currency: $}}
		    	</p>
		    	<p ng-show="card.finalCostUSD">
		    		<strong>Final Cost:</strong> {{card.finalCostUSD | currency: $}}
		    	</p>
	    	</li>
	    </ul>
    </div>
    <div class="list" name="needs-discussion" ng-show="listCtrl.isSelected(2)">
	    <ul class="list-group" ng-controller="BoardController as boardCtrl">
	    	<li class="list-group-item" ng-repeat="card in boardCtrl.cards | orderBy:'order'" ng-show="card.status=='Needs Discussion'">
		    	<h3>{{card.title}}</h3>
		    	<p>
		    		<strong>Accountable:</strong> {{card.accountable}}
		    	</p>
		    	<p>
		    		<strong>Responsible:</strong>
			    	<ul> 
			    		<li class="list-group-item" ng-repeat="responsibleIndividual in card.responsible">{{responsibleIndividual}}</li>
			    	</ul>
			    </p>
			    <p>
			    	<strong>Consulted:</strong>
			    	<ul>
			    		<li class="list-group-item" ng-repeat="consultedIndividual in card.consulted">{{consultedIndividual}}</li>
			    	</ul>
			    </p>
			    <p>
			    	<strong>Informed:</strong> 
			    	<ul>
			    		<li class="list-group-item" ng-repeat="informedIndividual in card.informed">{{informedIndividual}}</li>
			    	</ul>
		    	</p>
		    	<p ng-show="card.dueDateUTC">
		    		<strong>Due Date:</strong> {{card.dueDateUTC | date:"MM/dd/yyyy 'at' h:mma"}}
		    	</p>
		    	<p>
		    		<strong>Status:</strong> {{card.status}}
		    	</p>
		    	<p>
		    		<strong>Updated:</strong> By <em>{{card.updatedBy}}</em> on <em>{{card.updatedOnUTC | date:"MM/dd/yyyy 'at' h:mma"}}</em>
		    	</p>
		    	<p ng-show="card.budgetUSD">
		    		<strong>Budget:</strong> {{card.budgetUSD | currency: $}}
		    	</p>
		    	<p ng-show="card.finalCostUSD">
		    		<strong>Final Cost:</strong> {{card.finalCostUSD | currency: $}}
		    	</p>
	    	</li>
	    </ul>
    </div>
    <div class="list" name="ready-to-be-worked" ng-show="listCtrl.isSelected(3)">
	    <ul class="list-group" ng-controller="BoardController as boardCtrl">
	    	<li class="list-group-item" ng-repeat="card in boardCtrl.cards | orderBy:'order'" ng-show="card.status=='Ready to Be Worked'">
		    	<h3>{{card.title}}</h3>
		    	<p>
		    		<strong>Accountable:</strong> {{card.accountable}}
		    	</p>
		    	<p>
		    		<strong>Responsible:</strong>
			    	<ul> 
			    		<li class="list-group-item" ng-repeat="responsibleIndividual in card.responsible">{{responsibleIndividual}}</li>
			    	</ul>
			    </p>
			    <p>
			    	<strong>Consulted:</strong>
			    	<ul>
			    		<li class="list-group-item" ng-repeat="consultedIndividual in card.consulted">{{consultedIndividual}}</li>
			    	</ul>
			    </p>
			    <p>
			    	<strong>Informed:</strong> 
			    	<ul>
			    		<li class="list-group-item" ng-repeat="informedIndividual in card.informed">{{informedIndividual}}</li>
			    	</ul>
		    	</p>
		    	<p ng-show="card.dueDateUTC">
		    		<strong>Due Date:</strong> {{card.dueDateUTC | date:"MM/dd/yyyy 'at' h:mma"}}
		    	</p>
		    	<p>
		    		<strong>Status:</strong> {{card.status}}
		    	</p>
		    	<p>
		    		<strong>Updated:</strong> By <em>{{card.updatedBy}}</em> on <em>{{card.updatedOnUTC | date:"MM/dd/yyyy 'at' h:mma"}}</em>
		    	</p>
		    	<p ng-show="card.budgetUSD">
		    		<strong>Budget:</strong> {{card.budgetUSD | currency: $}}
		    	</p>
		    	<p ng-show="card.finalCostUSD">
		    		<strong>Final Cost:</strong> {{card.finalCostUSD | currency: $}}
		    	</p>
	    	</li>
	    </ul>
    </div>
    <div class="list" name="in-progress" ng-show="listCtrl.isSelected(4)">
	    <ul class="list-group" ng-controller="BoardController as boardCtrl">
	    	<li class="list-group-item" ng-repeat="card in boardCtrl.cards | orderBy:'order'" ng-show="card.status=='In Progress'">
		    	<h3>{{card.title}}</h3>
		    	<p>
		    		<strong>Accountable:</strong> {{card.accountable}}
		    	</p>
		    	<p>
		    		<strong>Responsible:</strong>
			    	<ul> 
			    		<li class="list-group-item" ng-repeat="responsibleIndividual in card.responsible">{{responsibleIndividual}}</li>
			    	</ul>
			    </p>
			    <p>
			    	<strong>Consulted:</strong>
			    	<ul>
			    		<li class="list-group-item" ng-repeat="consultedIndividual in card.consulted">{{consultedIndividual}}</li>
			    	</ul>
			    </p>
			    <p>
			    	<strong>Informed:</strong> 
			    	<ul>
			    		<li class="list-group-item" ng-repeat="informedIndividual in card.informed">{{informedIndividual}}</li>
			    	</ul>
		    	</p>
		    	<p ng-show="card.dueDateUTC">
		    		<strong>Due Date:</strong> {{card.dueDateUTC | date:"MM/dd/yyyy 'at' h:mma"}}
		    	</p>
		    	<p>
		    		<strong>Status:</strong> {{card.status}}
		    	</p>
		    	<p>
		    		<strong>Updated:</strong> By <em>{{card.updatedBy}}</em> on <em>{{card.updatedOnUTC | date:"MM/dd/yyyy 'at' h:mma"}}</em>
		    	</p>
		    	<p ng-show="card.budgetUSD">
		    		<strong>Budget:</strong> {{card.budgetUSD | currency: $}}
		    	</p>
		    	<p ng-show="card.finalCostUSD">
		    		<strong>Final Cost:</strong> {{card.finalCostUSD | currency: $}}
		    	</p>
	    	</li>
	    </ul>
    </div>
    <div class="list" name="done" ng-show="listCtrl.isSelected(5)">
	    <ul class="list-group" ng-controller="BoardController as boardCtrl">
	    	<li class="list-group-item" ng-repeat="card in boardCtrl.cards | orderBy:'order'" ng-show="card.status=='Done'">
		    	<h3>{{card.title}}</h3>
		    	<p>
		    		<strong>Accountable:</strong> {{card.accountable}}
		    	</p>
		    	<p>
		    		<strong>Responsible:</strong>
			    	<ul> 
			    		<li class="list-group-item" ng-repeat="responsibleIndividual in card.responsible">{{responsibleIndividual}}</li>
			    	</ul>
			    </p>
			    <p>
			    	<strong>Consulted:</strong>
			    	<ul>
			    		<li class="list-group-item" ng-repeat="consultedIndividual in card.consulted">{{consultedIndividual}}</li>
			    	</ul>
			    </p>
			    <p>
			    	<strong>Informed:</strong> 
			    	<ul>
			    		<li class="list-group-item" ng-repeat="informedIndividual in card.informed">{{informedIndividual}}</li>
			    	</ul>
		    	</p>
		    	<p ng-show="card.dueDateUTC">
		    		<strong>Due Date:</strong> {{card.dueDateUTC | date:"MM/dd/yyyy 'at' h:mma"}}
		    	</p>
		    	<p>
		    		<strong>Status:</strong> {{card.status}}
		    	</p>
		    	<p>
		    		<strong>Updated:</strong> By <em>{{card.updatedBy}}</em> on <em>{{card.updatedOnUTC | date:"MM/dd/yyyy 'at' h:mma"}}</em>
		    	</p>
		    	<p ng-show="card.budgetUSD">
		    		<strong>Budget:</strong> {{card.budgetUSD | currency: $}}
		    	</p>
		    	<p ng-show="card.finalCostUSD">
		    		<strong>Final Cost:</strong> {{card.finalCostUSD | currency: $}}
		    	</p>
	    	</li>
	    </ul>
    </div>
    </section>
    <section>
    <h1>Enter a New Task</h1>
			<form name="newCardForm" ng-controller="BoardController as boardCtrl" ng-submit="boardCtrl.addCard()">
	    	<div class="list">
	    		<ul class="list-group">
				    	<li class="list-group-item">
					    	<label>Title</label>
					    	<br>
					    	<input type="text" name="input-title" ng-model="boardCtrl.newCard.title"/>
				    	</li>

				    	<li class="list-group-item">
					    	<label>Accountable</label>
					    	<br>
					    	<select name="select-accountable" ng-controller="UserController as userCtrl" ng-model="boardCtrl.newCard.accountable">
					    		<option ng-repeat="user in userCtrl.users | orderBy:'name'" value="{{user.name}}">{{user.name}}</option>
					    	</select>
					    </li>

					    <li class="list-group-item">
					    	<label>Responsible</label>
					    	<br>
					    	<select multiple name="select-responsible" ng-controller="UserController as userCtrl" ng-model="boardCtrl.newCard.responsible">
					    		<option ng-repeat="user in userCtrl.users | orderBy:'name'" value="{{user.name}}">{{user.name}}</option>
					    	</select>
				    	</li>

					    <li class="list-group-item">
					    	<label valign="top">Consulted</label>
					    	<br>
					    	<select multiple name="select-consulted" ng-controller="UserController as userCtrl" ng-model="boardCtrl.newCard.consulted">
					    		<option ng-repeat="user in userCtrl.users | orderBy:'name'" value="{{user.name}}">{{user.name}}</option>
					    	</select>
				    	</li>

					    <li class="list-group-item">
					    	<label valign="top">Informed</label>
					    	<br>
					    	<select multiple name="select-informed" ng-controller="UserController as userCtrl"ng-model="boardCtrl.newCard.informed">
					    		<option ng-repeat="user in userCtrl.users | orderBy:'name'" value="{{user.name}}">{{user.name}}</option>
					    	</select>
				    	</li>

					    <li class="list-group-item">
					    	<label valign="top">Budget</label>
					    	<br>
					    	<input type="text" ng-model="boardCtrl.newCard.budgetUSD" />
				    	</li>

					    <li class="list-group-item">
					    	<label valign="top">Final Cost</label>
					    	<br>
					    	<input type="text" ng-model="boardCtrl.newCard.finalCostUSD">
				    	</li>

				    	<li class="list-group-item">
					    	<label>Status</label>
					    	<br>
					    	<select name="select-status" ng-controller="StatusController as statusCtrl" ng-model="boardCtrl.newCard.status">
					    		<option ng-repeat="status in statusCtrl.statuses | orderBy: status.order" value="{{status.name}}">{{status.name}}</option>
					    	</select>
					    </li>

					    <li class="list-group-item">
					    	<label>Due Date</label>
					    	<br>
					    	<input type="datetime-local" name="input-due-datetime-local"  ng-model="boardCtrl.newCard.dueDateUTC"/>
					    </li>

					    <li class="list-group-item">
					    	<button type="submit">Add Task</button>
					    </li>
				  </ul>
			  </div>
			</form>
    </section>
  </body>
</html>