<div class="list">
	<ul class="list-group">
    	<li class="list-group-item">
	    	<label>Title</label>
	    	<br>
	    	<input type="text" name="input-title" ng-model="boardCtrl.newCard.title"/>
    	</li>

    	<li class="list-group-item">
	    	<label>Accountable</label>
	    	<br>
	    	<select name="select-accountable" ng-controller="UserController as userCtrl" ng-model="boardCtrl.newCard.accountable">
	    		<option ng-repeat="user in userCtrl.users | orderBy:'name'" value="{{user.name}}">{{user.name}}</option>
	    	</select>
	    </li>

	    <li class="list-group-item">
	    	<label>Responsible</label>
	    	<br>
	    	<select multiple name="select-responsible" ng-controller="UserController as userCtrl" ng-model="boardCtrl.newCard.responsible">
	    		<option ng-repeat="user in userCtrl.users | orderBy:'name'" value="{{user.name}}">{{user.name}}</option>
	    	</select>
    	</li>

	    <li class="list-group-item">
	    	<label valign="top">Consulted</label>
	    	<br>
	    	<select multiple name="select-consulted" ng-controller="UserController as userCtrl" ng-model="boardCtrl.newCard.consulted">
	    		<option ng-repeat="user in userCtrl.users | orderBy:'name'" value="{{user.name}}">{{user.name}}</option>
	    	</select>
    	</li>

	    <li class="list-group-item">
	    	<label valign="top">Informed</label>
	    	<br>
	    	<select multiple name="select-informed" ng-controller="UserController as userCtrl"ng-model="boardCtrl.newCard.informed">
	    		<option ng-repeat="user in userCtrl.users | orderBy:'name'" value="{{user.name}}">{{user.name}}</option>
	    	</select>
    	</li>

	    <li class="list-group-item">
	    	<label valign="top">Budget</label>
	    	<br>
	    	<input type="number" min="0.00" ng-model="boardCtrl.newCard.budgetUSD" />
    	</li>

	    <li class="list-group-item">
	    	<label valign="top">Final Cost</label>
	    	<br>
	    	<input type="number" min="0.00" ng-model="boardCtrl.newCard.finalCostUSD">
    	</li>

    	<li class="list-group-item">
	    	<label>Status</label>
	    	<br>
	    	<select name="select-status" ng-controller="StatusController as statusCtrl" ng-model="boardCtrl.newCard.status">
	    		<option ng-repeat="status in statusCtrl.statuses | orderBy: status.order" value="{{status.name}}">{{status.name}}</option>
	    	</select>
	    </li>

	    <li class="list-group-item">
	    	<label>Due Date</label>
	    	<br>
	    	<input type="datetime-local" name="input-due-datetime-local"  ng-model="boardCtrl.newCard.dueDateUTC"/>
	    </li>

	    <li class="list-group-item">
	    	<button type="submit">Add Task</button>
	    </li>
  </ul>
</div>