<!DOCTYPE html>
<html ng-app="board">
  <head>
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css" />
  </head>
  <body style="margin:50px">
    <script type="text/javascript" src="../assets/js/angular.min.js"></script>
    <script type="text/javascript" src="../assets/js/app.js"></script>
    <script type="text/javascript" src="../assets/js/board-users.js"></script>
    <script type="text/javascript" src="../assets/js/board-lists.js"></script>
    <script type="text/javascript" src="../assets/js/board-cards.js"></script>

    <section ng-controller="ListController as listCtrl">
	    <ul class="nav nav-pills">
	    	<li ng-class="{ active:listCtrl.isSelected(1) }">
	    		<a href ng-click="listCtrl.selectList(1)">Proposed</a>
	    	</li>
	    	<li ng-class="{ active:listCtrl.isSelected(2) }">
	    		<a href ng-click="listCtrl.selectList(2)">Needs Discussion</a>
	    	</li>
	    	<li ng-class="{ active:listCtrl.isSelected(3) }">
	    		<a href ng-click="listCtrl.selectList(3)">Ready to Be Worked</a>
	    	</li>
	    	<li ng-class="{ active:listCtrl.isSelected(4) }">
	    		<a href ng-click="listCtrl.selectList(4)">In Progress</a>
	    	</li>
	    	<li ng-class="{ active:listCtrl.isSelected(5) }">
	    		<a href ng-click="listCtrl.selectList(5)">Done</a>
	    	</li>
	    </ul>
	    <h1>Tasks</h1>
	    <div class="list" name="proposed" ng-show="listCtrl.isSelected(1)">
		    <ul class="list-group" ng-controller="BoardController as boardCtrl">
		    	<li class="list-group-item" ng-repeat="card in boardCtrl.cards | orderBy:'order'" ng-show="card.status=='Proposed'">
		    		<card-detail></card-detail>
		    	</li>
		    </ul>
	    </div>
	    <div class="list" name="needs-discussion" ng-show="listCtrl.isSelected(2)">
		    <ul class="list-group" ng-controller="BoardController as boardCtrl">
		    	<li class="list-group-item" ng-repeat="card in boardCtrl.cards | orderBy:'order'" ng-show="card.status=='Needs Discussion'">
		    		<card-detail></card-detail>
		    	</li>
		    </ul>
	    </div>
	    <div class="list" name="ready-to-be-worked" ng-show="listCtrl.isSelected(3)">
		    <ul class="list-group" ng-controller="BoardController as boardCtrl">
		    	<li class="list-group-item" ng-repeat="card in boardCtrl.cards | orderBy:'order'" ng-show="card.status=='Ready to Be Worked'">
		    		<card-detail></card-detail>
		    	</li>
		    </ul>
	    </div>
	    <div class="list" name="in-progress" ng-show="listCtrl.isSelected(4)">
		    <ul class="list-group" ng-controller="BoardController as boardCtrl">
		    	<li class="list-group-item" ng-repeat="card in boardCtrl.cards | orderBy:'order'" ng-show="card.status=='In Progress'">
		    		<card-detail></card-detail>
		    	</li>
		    </ul>
	    </div>
	    <div class="list" name="done" ng-show="listCtrl.isSelected(5)">
		    <ul class="list-group" ng-controller="BoardController as boardCtrl">
		    	<li class="list-group-item" ng-repeat="card in boardCtrl.cards | orderBy:'order'" ng-show="card.status=='Done'">
		    		<card-detail></card-detail>
		    	</li>
		    </ul>
	    </div>
    </section>
    <section>
    <h1>Enter a New Task</h1>
			<form name="newCardForm" ng-controller="BoardController as boardCtrl" ng-submit="boardCtrl.addCard()">
				<card-form></card-form>
			</form>
    </section>
  </body>
</html>